.order-cab-items-container {
    margin-bottom: 20px ;
    padding: 10px;
    display: flex;
    background-color: rgb(210, 255, 241);
    box-shadow: 0 0 5px grey;
    border-radius: 15px;
    flex-direction: column;
    gap: 15px;
}

.order-cab-items-container span {
    font-weight: 700;
}

.order-email-link {
    padding-left: 5px;
    color: inherit;
}
.cab-status{
    background-color: crimson;
    padding: 2px 4px;
    text-align: center;
    width: fit-content;
    align-self: center;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
}

.photographer-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}
.photographer-container {
    padding: 5px;
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 700;
    /* box-shadow: 0 0 10px black; */
}
.photographer-container button,
.back__btn,
.add-message__btn,
.status-button-container button, 
.add-link__btn {
    align-self: center;
    width: 90%;
    margin-top: 10px;
    background: linear-gradient(342deg, rgba(22,117,148,1) 31%, rgba(12,168,150,1) 57%);
    border: none;
    height: 30px;
    border-radius: 100px;
    box-shadow: 0 0 5px grey;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.photographer-status {
    position: absolute;
    right: 0;
    top: 0;
}
.back__btn { 
    margin-bottom: 15px;
    padding: 0 15px;
}

.add-message__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

button.btn-disabled{
    opacity: 0.2;
    cursor: not-allowed;
}

.add-message__item {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(22, 116, 148, 0.301);
}

.status-button-container button {
    padding: 0  15px;
}

.order-cab-container {
    display: flex;
    flex-direction: column;
}
.add-link__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.add-link__item {
    padding: 8px;
    border-radius: 10px;
    border: none;
    box-shadow: inset 0 0 10px rgba(22, 116, 148, 0.301);
    margin-top: 5px;
    width: 100%;
}