.users-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user {
    position: relative;
    width: 290px;
    height: 280px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #167293 0%, #0ca896 100%);
    color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 4px 10px #000000;
    justify-content: start;
    align-items: flex-start;
    transition: all ease 0.5s;
}

.user:hover {
  cursor: pointer;
  transform: scale(1.03);
}


.user_role::before {
    margin-right: 5px;
    content: 'Роль: ';
    font-weight: 700;
}

.user_email::before {
    margin-right: 5px;
    content: 'E-mail: ';
    font-weight: 700;
}
.user_name::before {
    margin-right: 5px;
    content: 'Полное имя: ';
    font-weight: 700;
}
.user_status::before {
    margin-right: 5px;
    content: 'Статус: ';
    font-weight: 700;
}

.user p{
padding: 10px;
margin: 0;
}

.user_title {
    text-transform: uppercase;
}

.btn {
    width: 120px;
    background-color: rgb(231, 241, 255);
    border: none;
    height: 30px;
    border-radius: 100px;
    box-shadow: 0 0 20px #167594;
    color: #167594;
    flex-shrink: 0;
}

.user__btn-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.users_btn {
    order: -1;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: linear-gradient(342deg, rgba(22,117,148,1) 31%, rgba(12,168,150,1) 57%);
    border: none;
    height: 40px;
    border-radius: 100px;
    box-shadow: 0 0 5px grey;
    color: white;
}

.cab-container {
    display: flex; 
    flex-direction: column;
}


@media screen and (min-width: 767px) {
    
    .users-container {

        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}