* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100vh;
}
body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  color: white;
  font-family: "Michroma", sans-serif;
  overflow: hidden;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px 20px;
  background: linear-gradient(180deg, #167293 0%, #0ca896 100%);
}

.cab-container {
  padding: 15px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(231, 241, 255);
  color: #167293;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  overflow-y: auto;
  padding-bottom: 50px;
}

.orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.orders-container h3 {
  margin: 10px;
  font-family: "Michroma", sans-serif;
  font-size: 24px;
  text-align: center;
}

.order-container {
  position: relative;
  min-width: 290px;
  max-width: 350px;
  display: flex;
  background: linear-gradient(180deg, #167293 0%, #0ca896 100%);
  color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 4px 10px #000000;
  justify-content: center;
  align-items: flex-start;
}
.order-container button {
  position: absolute;
  right: 10px;
  background-color: white;
  border: none;
  height: 30px;
  border-radius: 100px;
  box-shadow: 0 0 20px #167594;
  color: #167594;
  flex-shrink: 0;
}

.list-status {
  padding: 2px 4px;
  text-align: center;
  width: fit-content;
  align-self: center;
  border-radius: 5px;
  text-transform: uppercase;
}

.order-items-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pure-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 250px;
}

.pure-input-1 {
  max-width: 480px;
  margin-bottom: 15px;
}

.pure-form button.pure-input-1 {
  align-self: center;
  width: 50%;
  background-color: white;
  border: none;
  border-radius: 100px;
  box-shadow: 0 0 20px #167594;
  color: #167594;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: -2000px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #167293 0%, #0ca896 100%);
  transition: 1s;
  z-index: 20;
}

.menu-toggle {
  top: 0;
}

.menu-items {
  position: relative;
  width: 80%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-end;
  justify-content: center;
  list-style: none;
  padding: 0;
  overflow-y: auto;
}

.menu-close {
  position: absolute;
  content: "";
  margin: 5px 0 0 5px;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  z-index: 100;
}

.menu-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #167594;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -2px 8px black;
  z-index: 20;
}

.menu-btn {
  position: absolute;
  top: -30px;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0ca896;
  background-image: url("../public/menu.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 60%;
  background-position: center;
  box-shadow: 0px -2px 4px black;
  z-index: 20;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 110px;
  height: 110px;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  font-family: "Oswald", sans-serif;
}

.menu-img {
  width: 50px;
}

.menu-link {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.form-title {
  font-size: 64px;
  font-weight: 600;
  margin: 0 0 10px 0;
  text-align: center;
  line-height: 78px;
}
.form-description {
  margin: 0 0 130px 0;
  text-align: center;
  font-weight: 400;
}

.form-img {
  position: absolute;
  opacity: 40%;
}

.form-title,
.form-description,
.pure-input-1 {
  z-index: 10;
}
