:root {
    --color--white: rgba(255, 255, 255, 1);
    --color--blue--1: #025167;
    --color--blue--2: #03313d;
    --color--grey: #d6dadb;
    --color--grey--1: #ECEFF1;
    --color--grey--2: rgba(0, 0, 0, .2);
    --color--primary-0: #FF7800;
    --color--primary-1: #FF9A40;
    --color--primary-2: #ffd9b8;
}
@mixin h1 {
    font: {
        size: 2rem;
        weight: 900;
    };
    color: var(--color--blue--2);
}

body {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.header {
    height: 650px;
    background: url("./assets/image.png") no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 1rem;
}
.center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
.header-wrapper.item {
    flex-direction: column;
    gap: 40px;
}
.header-conteiner {
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo-title {
    color: var(--color--blue--2);
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-left: 10px;
}
.header-logo-1,
.header-logo-2 {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-img {
    width: 60px;
}
.header-navbar {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0.9rem;
}
.header-tel {
    font-size: 0.9rem;
}
.header-navbar a,
.header-conteiner a {
    display: block;
    text-decoration: none;
    color: var(--color--blue--2);
    font-weight: 800;
}
.header-navbar a:hover,
.header-conteiner a:hover,
.header-logo-title:hover {
    text-decoration: 1.5px underline;
}
.header-title {
    @include h1;
    text-align: center;
}
.btn-primary {
    background-color: var(--color--blue--2);
    width: 200px;
    border-radius: 0.25rem;
    border: 5px solid var(--color--blue--1);
    color: var(--color--grey);
}
.btn-primary:hover,
.btn-primary:visited,
.btn-primary:active {
    background-color: var(--color--primary-0);
    border-color: var(--color--primary-1);
    
}
.btn-primary:active:focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem var(--color--primary-2);
    background-color: var(--color--primary-0);
    border-color: var(--color--primary-1);
    outline: none;
}

/*стили для main*/
.main-routes,
.main-prices,
.map,
.main-questions {
    margin-bottom: 1rem;
}
.main-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    gap: 1rem;
}
.main-center {
    display: flex;
    justify-content: flex-end;
}
.routes-title,
.prices-title,
.form-title {
    @include h1;
    text-align: center;
    padding: 20px;
}
.list-group {
    flex-direction: row;
    justify-content: space-between;
}
.mb-5 {
    margin-bottom: 0rem!important;
}
.inactive {
    display: none;
}
.li {
    cursor: pointer;
    width: 32%;
}
.list-group-item.active {
    background-color: var(--color--primary-0);
    border: 1px solid var(--color--primary-1);
    z-index: 100;
}

/* стили для прайса */
.main-prices {
    height: 101vh;
    background: url("./assets/image.png") no-repeat center center fixed;
    background-size: cover;
}

.center-button {
    text-align: center;
}
.table {
    margin-bottom: 15px;
}
/*стили для формы*/
.drop {
    background: url("./assets/forma_3.jpg");
    background-size: cover;
}
.modal-header {
    margin-bottom: 20px;
}
.length {
    width: 100%;
}
/* Отзывы */
.main-reviews-prices-title {
    text-align: center;
    overflow: hidden;
    padding: 1rem;
}
.main-reviews-prices-title::after, 
.main-reviews-prices-title::before {
    content: '';
    display:inline-block;
    vertical-align:middle;
    box-sizing:border-box;
    width:5rem;
    height:2px;
    margin: 25px;
    background: var(--color--blue--1); 
    border:solid var(--color--blue--1);
    border-width:0 .5em 0;
}
.carousel-item img {
    height: 300px;
}
.carousel-caption {
    bottom: 6rem;
}

/* Вопросы-ответы */
.accordion-item {
    border: none; 
    margin-bottom: 1rem;
}
.accordion-button:focus {
    border-color: var(--color--blue--1);
}

/* footer */
.footer {
    background: var(--color--blue--2);
}
.footer-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-avtor a,
.footer-avtor,
.footer-avtor p {
    text-decoration: none;
    color: var(--color--grey);
    font-size: 0.8rem;
    width: 30%;
}

.footer-avtor a:hover {
    text-decoration: 1px underline; 
}

.footer p {
    color: var(--color--grey);
    font-size: 0.8rem;
}

.footer-linck-rsschool img {
    width: 100px;
    height: 40px;
    border: 4px double var(--color--blue--2);
    border-radius: 10px;
    padding: 4px;
    transition: 0.25s;
    background: var(--color--grey);
}

.footer-linck-rsschool img:hover {
    background: var(--color--blue--2);
    border: 4px double var(--color--grey);
}
.footer-add,
.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
.footer-icon img{
    width: 30px;
}
.footer-title {
    color: var(--color--grey);
}
.footer-copyright {
    display: flex;
    justify-content: space-between;
}
.footer-copyright p,
.footer-copyright a {
    width: 30%;
    text-align: center;
}
.footer-linck-rsschool {
    display: flex;
    justify-content: center;
}
.wigth0 {
    display: none;
}

/* burger-menu*/
.burger-menu {
    display: flex;
    width: 100%;
}
.header-burger-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.burger-menu {
    display: none;
}


@media(max-width: 900px) {
    .header-navbar,
    .header-logo-1,
    .header-wrapper .header-tel {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .menu-btn{
        display: flex;
        align-items: center;
        position: absolute;
        top: 15px;
        right:15px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 10;
    }
    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--color--blue--2);
        transition-duration: .25s;
    }
    .menu-btn > span::before {
        content: '';
        top: -8px;
    }
    .menu-btn > span::after {
        content: '';
        top: 8px;
    }
    .menubox{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 500px;
        height: 220px;
        margin: 0;
        list-style: none;
        background-color: var(--color--grey--1);
        box-shadow: 1px 0px 6px var(--color--grey--2);
        transition-duration: .25s;
    }
    .menu-item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu-item:hover {
        background-color: #CFD8DC;
    }
    #menu-toggle{
        opacity: 0;
    }
    #menu-toggle:checked ~ .menu-btn > span{
        transform: rotate(45deg);
    }
    #menu-toggle:checked ~ .menu-btn > span::before{
        top: 0;
        transform: rotate(0);
    }
    #menu-toggle:checked ~ .menu-btn > span::after{
        top: 0;
        transform: rotate(90deg);
    }
    #menu-toggle:checked ~ .menubox{
        visibility: visible;
        right: 0;
    }
    
}

@media(max-width: 728px) {
    .menubox {
        flex-direction: column;
        top: 80px;
        width: 100%;
        display: flex;
        z-index: 5;
    }
    .menu-btn {
        top: 90px;
    }
    .header-logo-2 {
        margin-left: auto;
        margin-right: auto;
    }
    .visible {
        visibility: visible;
        right: 0;
    }

    .table {
        font-size: 0.7rem;
    }
    .header-title,
    .modal-footer,
    .routes-title,
    .prices-title, 
    .modal-title {
        font-size: 1.7rem;
    }
    .main-conteiner {
        flex-direction: column;
    }
    .mb-5 {
        margin-bottom: 0.5rem!important;
    }
    .p-3 {
        padding: 0.5rem!important;
    }
    .list-group {
        flex-direction: column;
    }
    .li {
        width: 100%;
    }
    .carousel.slide {
        width: 100%;
    }
    .footer-conteiner {
        flex-direction: column;
        height: 100%;
    }
    .footer-title {
        font-size: 0.9rem;
    }
    .footer-text {
        font-size: 0.8rem;
    }
    .footer-avtor {
        font-size: 0.7rem;
    }
    .footer-contacts {
        align-items: center;
    }
}