:root {
    --color--primary-4: #FFD173;
    --color--grey-1: rgba(0,0,0,0.22);
    --color--grey-2: rgba(32, 32, 31, 0.5);
    --color--white: rgba(255, 255, 255, 1);
}

body {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.header {
    height: 80px;
    background: var(--color--primary-4);
}
.header-conteiner {
    display: flex;
}
.header-logo {
    width: 120px;
}

/*стили для main*/
.main {
    background: url("./assets/1579338991_16-32.jpg") no-repeat center center fixed;
    background-size: cover;
}
.main-center {
    display: flex;
    justify-content: flex-end;
}
/*стили для формы*/

.form {
    display: flex;
    flex-direction: column;
    width: 420px;
    padding: 1rem;
    border-radius: 0.7rem;
    box-shadow: inset 2px 2px 5px var(--color--grey-2), 1px 1px 5px var(--color--white);
}