:root {
    --color--white: rgba(255, 255, 255, 1);
    --color--blue--1: #025167;
    --color--blue--2: #03313d;
    --color--grey: #d6dadb;
    --color--primary-0: #FF7800;
    --color--primary-1: #FF9A40;
    --color--primary-2: #ffd9b8;
}
@mixin h1 {
    font: {
        family: Oswald;
        size: 42px;
        weight: 900;
    };
    color: var(--color--blue--2);
}

body {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.header {
    height: 650px;
    background: url("./assets/image.png") no-repeat center center fixed;
    background-size: cover;
}
.center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
}
.header-wrapper.item {
    flex-direction: column;
    gap: 40px;
}
.header-conteiner {
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo-title {
    color: var(--color--blue--2);
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-left: 10px;
    font-family: Oswald;
}
.header-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-img {
    width: 60px;
}
.header-navbar {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header-navbar a,
.header-conteiner a {
    display: block;
    text-decoration: none;
    color: var(--color--blue--2);
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header-navbar a:hover,
.header-conteiner a:hover,
.header-logo-title:hover {
    text-decoration: 3px underline;
}
.header-title {
    @include h1;
    text-align: center;
}
.btn-primary {
    background-color: var(--color--blue--2);
    width: 200px;
    border-radius: 0.25rem;
    border: 5px solid var(--color--blue--1);
    color: var(--color--grey);
}
.btn-primary:hover,
.btn-primary:visited,
.btn-primary:active {
    background-color: var(--color--primary-0);
    border-color: #FFB573;
    
}
.btn-primary:active:focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem var(--color--primary-2);
    background-color: var(--color--primary-0);
    border-color: #FFB573;
    outline: none;
}

/*стили для main*/
.main-conteiner {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 1rem;
}
.main-center {
    display: flex;
    justify-content: flex-end;
}
.routes{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.routes-title,
.prices-title,
.form-title {
    @include h1;
    text-align: center;
    padding: 20px;
}

.carousel.slide {
    width: 70%;
}
.inactive {
    display: none;
}
.li {
    cursor: pointer;
}
.list-group-item.active {
    background-color: var(--color--primary-0);
    border: 5px solid var(--color--primary-1);
    z-index: 100;
}

/* стили для прайса */
.main-prices {
    height: 400px;
    background: url("./assets/image.png") no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 48px;
}
.center-button {
    text-align: center;
}
.table {
    margin-bottom: 15px;
}
/*стили для формы*/
.drop {
    background: url("./assets/forma_3.jpg");
    background-size: cover;
}
.modal-header {
    margin-bottom: 20px;
}
.length {
    width: 100%;
}

/* footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    height: 100px;
    background: var(--color--blue--2);
}

.footer-avtor a,
.footer-avtor {
    text-decoration: none;
    color: var(--color--grey);
    font-size: 1rem;
}

.footer-avtor a:hover {
    text-decoration: 3px underline; 
}

.footer p {
    font-weight: 600;
    color: var(--color--grey);
    font-size: 0.8rem;
}

.footer-linck-rsschool img {
    width: 100px;
    height: 40px;
    border: 4px double var(--color--blue--2);
    border-radius: 10px;
    padding: 4px;
    transition: 0.25s;
    background: var(--color--grey);
}

.footer-linck-rsschool img:hover {
    background: var(--color--blue--2);
    border: 4px double var(--color--grey);
}

